<app-side-nav>
    
    <div class="bgimage"></div>
    <div class="header container">

    <!-- <button class="icon" mat-icon-button (click)="openSidenav()">
        <mat-icon class="icon-item">menu</mat-icon>
    </button> -->


        <app-header>
            <span class="header-centered">
            <button class="icon" mat-icon-button (click)="openSidenav()">
                <mat-icon class="icon-item">menu</mat-icon>
            </button></span>
        </app-header>
    

    </div>
</app-side-nav>