<!-- <div class="center"> 
  <div  class="frame"> 

    <div *ngIf="loggedInUser; else loginForm">
      <p>Přihlášen jako: {{ loggedInUser?.username }}</p>
      <button (click)="logout()">Odhlásit</button>
      <button (click)="navigateToProduct()">Produkty</button>
    </div>

    <ng-template #loginForm class="form">
      <div>
      <form (ngSubmit)="login()" class="register-form">
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required />

        <label for="password">Heslo:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />

        <button type="submit">Přihlásit</button>
      </form>
      <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p></div>
    </ng-template>
  </div>
</div> 
 -->

<div class="center"> 
  <div  class="frame"> 

    <div *ngIf="loggedInUser; else loginForm">
      <p>Přihlášen jako: {{ loggedInUser?.username }}</p>
      <button (click)="logout()">Odhlásit</button>
      <button (click)="navigateToProduct()">Produkty</button>
    </div>
    <!-- direktivaa -->
    <ng-template #loginForm class="form">
        <mat-form-field (ngSubmit)="login()">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </ng-template>
  </div>
</div>

<!-- <div class="example-container">
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Amount</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" />
    <span matTextPrefix>$&nbsp;</span>
    <span matTextSuffix>.00</span>
  </mat-form-field>
</div> -->