<div class="center"> 
<div  class="frame"> 

  <div *ngIf="loggedInUser; else loginForm">
    <p>Přihlášen jako: {{ loggedInUser?.username }}</p>
    <button (click)="logout()">Odhlásit</button>
    <button (click)="navigateToProduct()">Produkty</button>
  </div>
<!-- direktivaa -->
  <ng-template #loginForm class="form">
    <div>
    <form (ngSubmit)="login()" class="register-form">
      <label for="username">Uživatelské jméno:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required />

      <label for="password">Heslo:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />

      <button type="submit">Přihlásit</button>
    </form>
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p></div>
  </ng-template>
</div></div>