<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Košík</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{cartProducts.length}} položek</div>
                </div>
            </div>    
            <div class="cart-items-container">
                <ng-container *ngIf="cartProducts.length > 0; else emptyCart">
                    <div class="row border-top border-bottom" *ngFor="let item of cartProducts">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="{{item.product.image}}"></div>
                        <div class="col">
                            <div class="row text-muted cart-item-title">{{item.product.title}}</div>
                            <div class="row cart-item-description">{{item.product.description}}</div>
                        </div>
                        <div class="col">
                            <a (click)="decreaseQuantity(item)">-</a><a href="#" class="border">{{item.quantity}}</a><a (click)="increaseQuantity(item)">+</a>
                        </div>
                        <div class="col">&euro; {{item.product.price}} <span class="close" (click)="removeItem(item)">&#10005;</span></div>
                    </div>
                </div>
                </ng-container>
                <ng-template #emptyCart>
                    <div class="empty-cart">
                        <p>Košík je prázdný.</p>
                    </div>
                </ng-template>
            </div>

            <div class="back-to-shop" (click)="close()"><a (click)="close()">&leftarrow;</a><span class="text-muted">Zpět na hlavní stránku</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Souhrn</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">POLOŽEK {{cartProducts.length}}</div>
            </div>
            <form>
                <p>DOPRAVA</p>
                <select (change)="updateDeliveryPrice($event)">
                    <option class="text-muted" value="10">Expressní doručení- &euro;10.00</option>
                    <option class="text-muted" value="5">Standartní doručení- &euro;5.00</option>
                    <option class="text-muted" value="0">Osobní převzetí- &euro;0.00</option>
                </select>
                <p>Zadejte kód</p>
                <input id="code" placeholder="Zadejte kód">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">CELKOVÁ CENA</div>
                <div class="col text-right">&euro; {{totalPrice() | number:'1.2-2'}}</div>
            </div>
            <button class="btn">KOUPIT</button>
        </div>
    </div>
    
</div>